<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado de la Partida</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header>
        <h1 class="main-title"> 🍿🎞️ CINE WARS 📽️🎬</h1>
    </header>

    <nav class="bottom-nav">
        <i class="home-icon" onclick="navigateTo('homevw')">🏠 <h5>HOME</h5></i>
        <i class="calendar-icon" onclick="navigateTo('calendar')">📆 <h5>CALENDAR</h5></i>
        <i class="play-icon" onclick="navigateTo('playvw')">▶️ <h5>PLAY</h5></i>
        <i class="rank-icon" onclick="navigateTo('rankingvw')">📊 <h5>RANKING</h5></i>
        <i class="store-icon" onclick="navigateTo('store')">🛒 <h5>STORE</h5></i>
    </nav>

    <main>
        <div class="game-status-container">
            <div class="players-status" id="players-status"></div>
            <div class="turns-bar" id="turns-bar"></div>
            <button class="continue-btn" id="continue-btn">Empezar</button>
        </div>
    </main>
    
    <script src="../scripts/status.js"></script>
    <script src="../scripts/functions.js"></script>
    <script src="../scripts/config.js"></script>
    <script src="../scripts/script.js"></script>
</body>
</html>
